@charset "UTF-8";
@import "../../../../../../../var";

.dostoprimechatelnosti-list-li {
  .dostoprimechatelnosti-item-li {
    margin-bottom: 40px;

    .box-image {
      margin-bottom: 10px;

      image {
        margin: 0;
        padding: 0;
      }
    }

    h4 {
      color: $primary_color;
      text-align: center;
    }
  }
}