@charset "UTF-8";
@import "../../../../../../../var";

.catalog-section {
  .box-section-item {
    margin-bottom: 40px;

    .box-image {
      margin-bottom: 20px;

      img {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.box-map {
  #map {
    width: 100%;
    height: 400px;
  }
}